.html_entity-item{
    height: 15px;
    width: 15px;
    background: white;
    border: 1px dotted #C5C1E9;
    display: block;
    float: left;
    text-align: center;
    padding: 2px;
    margin: 0px;
}
.html_entity-item:hover {
    background: #8DAFDC;
    color: white;
    border: 1px solid #C5C1E9;
}